.suggestions-list {
  list-style: none;
  max-height: 350px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.Book {
  .book-details {
    display: flex;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }

    .cover-image {
      max-height: 80px;
      margin-right: 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    }

    .title,
    .author,
    .pubblish-date {
      margin-bottom: 0;
    }
  }

  hr {
    max-width: 540px;
    border-top-width: .07rem;
  }

}