// Your custom theme/variable overrides go here
// Body
$body-bg: #f3f6f9;
// $body-color: #ccc;
$body-color: #444;
$app-min-width: 1024px;
$header-height: 80px;
// Required parts of Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
