@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

.Header {
  height: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 8px;

  .logo {
    font-family: Quicksand, sans-serif;
    font-size: 34px;
    font-weight: 100;
    padding-left: 40px;
  }

  .btn-outline-dark.dropdown-toggle {
    border-radius: 32px;
    width: 96px;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-toggler {
    display: block;
  }

  .dropdown-menu {
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background: transparent;
    background-clip: border-box;
    border-width: .5px;
    border-radius: .25rem;
    border-color: #343a40;
  }

  #basic-navbar-nav {
    margin-left: 120px;
  }

  .nav-link {
    margin-left: 20px;
    margin-right: 20px;
  }
}
