@import 'styles/variables.scss';

.App {
  main {
    border-radius: 4px;
    color: $body-color;
    height: calc(100vh - #{$header-height});
  }

  .btn-outline-light {
    margin-top: 8px;

    &:focus {
      box-shadow: none;
    }
  }

  .searchbar {
    display: flex;
    flex-direction: column;
  }
}
